.first {
    background-image: url(../img/yaksha-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-color: black;
  }

  .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center; /* Center text */
}

.profile-image {
    margin-right: 20px;
}

.profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    margin-left: 20px; /* Add space between image and text */
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    line-height: 1.6;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
    .profile-section {
        flex-direction: column; 
        align-items: center; 
    }

    .profile-image {
        margin-right: 0;
    }
    .profile-info h2 {
      margin-top: 20px;
    }
}