html {
    scroll-behavior: smooth;
}

.scroll-section {
    flex-direction: column;
    align-items: center; 
}

.first {
    background-image: url(../img/background-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    min-height: 100vh;
    animation: zoomIn 1.5s ease-in-out forwards; 
    background-color: black;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}


.classes {
    background-image: url(../img/background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex; 
    justify-content: space-between; 
    background-color: black;
}
.class-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.class {
    max-width: 100%; 
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px 5px black; 
}

.class-text {
    color: white;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
    .class-container {
        flex-direction: column;
        align-items: center; 
    }

    .bjj {
        margin-right: 0; /* Reset margin for small screens */
        margin-bottom: 20px; /* Space between image and text on small screens */
    }
}
  
  .timetable {
    background-color: #1C1C1C;
    border: 1px solid #101010;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    border: 1px solid #101010;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .header {
    background-color: #101010;
  }
  
  .black {
    background-color: black;
  }
  
  .mma-class {
    background-color: #808080;
  }
  
  .open-training {
    background-color: #008000;
  }
  
  .kickboxing {
    background-color: #FF4500;
  }
  
  .bjj-class {
    background-color: #0000FF;
  }

.title-text {
    margin: 20%;
    color: white;
    font-family: "Racing Sans One", sans-serif;
}
